*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --system-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --system-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --system-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 9fr;
  grid-template-rows: 96vh 4vh;
  font-family: var(--system-serif);
  background-color: rgb(206, 219, 240);
}

.form-container {
  background-color: rgb(66, 135, 245);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  z-index: 1;
  box-shadow: 5px 0px 10px rgb(167, 167, 167);
}

.form-container a {
  width: 100%;
  text-decoration: none;
  font-family: var(--system-mono);
  font-weight: bold;
  font-size: 1.8rem;
  color: black;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

a > h1 {
  display: flex;
  justify-content: center;
}

.form-container h1 {
  margin: 0;
}

form {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: rgb(91, 150, 245);
}

fieldset {
  width: 100%;
  border: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  justify-items: end;
  gap: 30px;
  padding: 10px;
  margin: 20px 0 0 0;
}

legend {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 30px;
  font-family: var(--system-mono);
  margin: 0 0 30px 0;
}

fieldset > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

form label {
  font-family: var(--system-mono);
  font-size: 1.1rem;
}

form input:not([type="checkbox"]) {
  height: 35px;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding-left: 5px;
  font-family: var(--system-mono);
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

input[type="checkbox"]::before {
  content: "✔";
  color: white;
  position: absolute;
  font-size: 1.2rem;
  right: -1px;
  top: -0.1em;
  visibility: hidden;
  right: 0px;
}

input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}

input[type="checkbox"]:checked {
  background-color: rgb(255, 183, 50);
  border: 4px solid white;
}

#submit {
  justify-self: start;
  background-color: rgb(255, 227, 175);
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-family: var(--system-mono);
  align-self: flex-start;
  margin-top: auto;
}

#submit:hover {
  background-color: rgb(255, 220, 155);
}

#submit:active {
  background-color: rgb(255, 208, 120);
}

.books-container {
  background-color: rgb(206, 219, 240);
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  z-index: 0;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  gap: 1.5rem;
}

.book-card {
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  border-left: 8px solid rgb(255, 227, 175);
  font-family: var(--system-mono);
  box-shadow: 5px 5px 10px rgb(167, 167, 167);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book-card > p {
  margin: 0;
  font-size: 1.1rem;
}

.book-card > p > span {
  font-size: 0.9rem;
}

.book-card h2 {
  margin-top: 0px;
  text-decoration: underline;
}

.book-card > div {
  width: 100%;
  margin-top: auto;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.book-card button {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 0.8rem;
  text-decoration: underline;
}

footer {
  background-color: rgb(46, 46, 46);
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(206, 219, 240);
  z-index: 2;
  font-size: 1.2rem;
}

footer a {
  text-decoration: underline;
  color: rgb(255, 208, 120);
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

footer img {
  width: 20px;
}