*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --system-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --system-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --system-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 9fr;
  grid-template-rows: 96vh 4vh;
  font-family: var(--system-serif);
  background-color: rgb(206, 219, 240);
}

.form-container {
  background-color: rgb(66, 135, 245);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  z-index: 1;
  box-shadow: 5px 0px 10px rgb(167, 167, 167);
}

.form-container a {
  width: 100%;
  text-decoration: none;
  font-family: var(--system-mono);
  font-weight: bold;
  font-size: 1.8rem;
  color: black;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

a > h1 {
  display: flex;
  justify-content: center;
}

.form-container h1 {
  margin: 0;
}

form {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: rgb(91, 150, 245);
}

fieldset {
  width: 100%;
  border: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  justify-items: end;
  gap: 30px;
  padding: 10px;
  margin: 0;
}

legend {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 30px;
  font-family: var(--system-mono);
  margin-top: 20px;
  margin: 20px 0 30px 0;
}

fieldset > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

form label {
  font-family: var(--system-mono);
  font-size: 1.1rem;
}

form input:not([type="checkbox"]) {
  height: 35px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

input[type="checkbox"] {
  width: 20px;
}

#submit {
  justify-self: start;
  background-color: rgb(255, 227, 175);
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-family: var(--system-mono);
  align-self: flex-start;
  margin-top: auto;
}

.books-container {
  background-color: rgb(206, 219, 240);
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  z-index: 0;
}

footer {
  background-color: rgb(46, 46, 46);
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(206, 219, 240);
  z-index: 2;
}

footer a {
  text-decoration: underline;
  color: rgb(206, 219, 240);
}